mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: tienda
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `PERSONA`
--

DROP TABLE IF EXISTS `PERSONA`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PERSONA` (
  `P_ID` int NOT NULL AUTO_INCREMENT,
  `P_NOMBRE` varchar(50) DEFAULT NULL,
  `P_APELLIDO` varchar(50) DEFAULT NULL,
  `P_EMAIL` varchar(100) DEFAULT NULL,
  `P_TELEFONO` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`P_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PERSONA`
--

LOCK TABLES `PERSONA` WRITE;
/*!40000 ALTER TABLE `PERSONA` DISABLE KEYS */;
INSERT INTO `PERSONA` VALUES (1,'Juan','Perez','juan@gmail.com','3001112233'),(2,'Ana','L├â┬│pez','ana@gmail.com','3002223344'),(3,'Luis','Torres','luis@gmail.com','3003334455'),(4,'Carlos','Ramos','carlos@gmail.com','3004445566'),(5,'Laura','Gomez','laura@gmail.com','3005556677'),(6,'Marta','Cruz','marta@gmail.com','3006667788'),(7,'Diego','Jimenez','diego@gmail.com','3007778899'),(8,'Sofia','Nieto','sofia@gmail.com','3008889900'),(9,'Andres','Mejia','andres@gmail.com','3009990011'),(10,'Camila','Vega','camila@gmail.com','3001234567');
/*!40000 ALTER TABLE `PERSONA` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PRODUCTO`
--

DROP TABLE IF EXISTS `PRODUCTO`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PRODUCTO` (
  `P_ID` int NOT NULL AUTO_INCREMENT,
  `P_NOMBRE` varchar(100) DEFAULT NULL,
  `P_DESCRIPCION` text,
  `P_PRECIO` decimal(10,2) DEFAULT NULL,
  `P_STOCK` int DEFAULT NULL,
  PRIMARY KEY (`P_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PRODUCTO`
--

LOCK TABLES `PRODUCTO` WRITE;
/*!40000 ALTER TABLE `PRODUCTO` DISABLE KEYS */;
INSERT INTO `PRODUCTO` VALUES (1,'Laptop','Laptop HP 15\"',2500.00,10),(2,'Mouse','Mouse inal├â┬ímbrico',50.00,100),(3,'Teclado','Teclado mec├â┬ínico',150.00,50),(4,'Monitor','Monitor 24\"',800.00,25),(5,'Silla','Silla ergon├â┬│mica',600.00,30),(6,'USB','Memoria USB 64GB',80.00,200),(7,'Disco Duro','HDD 1TB',300.00,40),(8,'SSD','Unidad SSD 500GB',400.00,35),(9,'C├â┬ímara','Webcam Full HD',220.00,15),(10,'Auriculares','Headset Gamer',120.00,45);
/*!40000 ALTER TABLE `PRODUCTO` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PUNTO_DE_VENTA`
--

DROP TABLE IF EXISTS `PUNTO_DE_VENTA`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `PUNTO_DE_VENTA` (
  `PV_ID` int NOT NULL AUTO_INCREMENT,
  `PV_NOMBRE` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`PV_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PUNTO_DE_VENTA`
--

LOCK TABLES `PUNTO_DE_VENTA` WRITE;
/*!40000 ALTER TABLE `PUNTO_DE_VENTA` DISABLE KEYS */;
INSERT INTO `PUNTO_DE_VENTA` VALUES (1,'Sucursal Centro'),(2,'Sucursal Norte'),(3,'Sucursal Sur'),(4,'Sucursal Occidente'),(5,'Sucursal Oriente'),(6,'Sucursal Mayorista'),(7,'Sucursal Virtual'),(8,'Sucursal Costa'),(9,'Sucursal Andina'),(10,'Sucursal Llanos');
/*!40000 ALTER TABLE `PUNTO_DE_VENTA` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `UBICACION`
--

DROP TABLE IF EXISTS `UBICACION`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `UBICACION` (
  `U_ID` int NOT NULL AUTO_INCREMENT,
  `U_NOMBRE` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`U_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `UBICACION`
--

LOCK TABLES `UBICACION` WRITE;
/*!40000 ALTER TABLE `UBICACION` DISABLE KEYS */;
INSERT INTO `UBICACION` VALUES (1,'Bogot├â┬í'),(2,'Medell├â┬¡n'),(3,'Cali'),(4,'Barranquilla'),(5,'Cartagena'),(6,'Bucaramanga'),(7,'Manizales'),(8,'Pereira'),(9,'Santa Marta'),(10,'C├â┬║cuta');
/*!40000 ALTER TABLE `UBICACION` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `VENTA`
--

DROP TABLE IF EXISTS `VENTA`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `VENTA` (
  `V_ID` int NOT NULL AUTO_INCREMENT,
  `V_FECHA` date DEFAULT NULL,
  `P_ID` int DEFAULT NULL,
  `PV_ID` int DEFAULT NULL,
  PRIMARY KEY (`V_ID`),
  KEY `P_ID` (`P_ID`),
  KEY `PV_ID` (`PV_ID`),
  CONSTRAINT `VENTA_ibfk_1` FOREIGN KEY (`P_ID`) REFERENCES `PERSONA` (`P_ID`),
  CONSTRAINT `VENTA_ibfk_2` FOREIGN KEY (`PV_ID`) REFERENCES `PUNTO_DE_VENTA` (`PV_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `VENTA`
--

LOCK TABLES `VENTA` WRITE;
/*!40000 ALTER TABLE `VENTA` DISABLE KEYS */;
/*!40000 ALTER TABLE `VENTA` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `VENTA_DETALLE`
--

DROP TABLE IF EXISTS `VENTA_DETALLE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `VENTA_DETALLE` (
  `VD_ID` int NOT NULL AUTO_INCREMENT,
  `VD_CANTIDAD` int DEFAULT NULL,
  `VD_PRECIO_UNITARIO` decimal(10,2) DEFAULT NULL,
  `VD_SUBTOTAL` decimal(10,2) DEFAULT NULL,
  `V_ID` int DEFAULT NULL,
  `P_ID` int DEFAULT NULL,
  PRIMARY KEY (`VD_ID`),
  KEY `V_ID` (`V_ID`),
  KEY `P_ID` (`P_ID`),
  CONSTRAINT `VENTA_DETALLE_ibfk_1` FOREIGN KEY (`V_ID`) REFERENCES `VENTA` (`V_ID`),
  CONSTRAINT `VENTA_DETALLE_ibfk_2` FOREIGN KEY (`P_ID`) REFERENCES `PRODUCTO` (`P_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `VENTA_DETALLE`
--

LOCK TABLES `VENTA_DETALLE` WRITE;
/*!40000 ALTER TABLE `VENTA_DETALLE` DISABLE KEYS */;
/*!40000 ALTER TABLE `VENTA_DETALLE` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-05 15:18:56
