services:
  mysql1:
    image: mysql:8.0
    container_name: mysql1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tienda
    ports:
      - "3307:3306"
    command: 
      - "--server-id=1"
      - "--log-bin=mysql-bin"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - replicanet

  mysql2:
    image: mysql:8.0
    container_name: mysql2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tienda
    ports:
      - "3308:3306"
    command: 
      - "--server-id=2"
      - "--log-bin=mysql-bin"
    networks:
      - replicanet

networks:
  replicanet:
    driver: bridge